<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Graph</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

  <!--
graph.html displays the generated graph based on uploaded data.
It includes an image element to show the graph and a link to go back to the upload page.
-->

<div class="container">

  <div class="graph-container">
    <img src="{{ graph_path }}" alt="Graph">
  </div>
  <p><a href="{{ url_for('index') }}">Back to Upload</a></p>
</div>
</body>
</html>
