<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <title>Workflow System</title>
</head>
<body>

<!--
index.file  serves as the front-end form for uploading customer data.
It includes input fields for first name, last name, date of birth, and file upload.
-->

<div class="container d-flex justify-content-center">
    <form method="post" action="/upload" enctype="multipart/form-data">

        <h1 class="display-3">Workflow System</h1>
        <div class="mb-3">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            <h4>{{ message }}</h4>
            {% endfor %}
            {% endif %}
            {% endwith %}
            <label for="f_name" class="form-label">First Name</label>
            <input type="text" name="fname" class="form-control" id="f_name" required>
        </div>

        <div class="mb-3">
            <label for="l_name" class="form-label">Last Name</label>
            <input type="text" name="lname" class="form-control" id="l_name" required>
        </div>

        <div class="mb-3">
            <label for="date" class="form-label">Birthday</label>
            <input type="date" name="dateOfBirth" class="form-control" id="date" required>
        </div>

        <div class="mb-3">
            <label for="file" class="form-label">Upload File</label>
            <input type="file" name="fileUpload" class="form-control" id="file" required>
        </div>

        <button type="submit" class="btn btn-primary">Send</button>
    </form>

</div>

</body>
</html>
